<% include partials/header %>

    <div class="container">
        <h1>Your Account</h1>
		<div>
		<div id="editinfo">
		<a href="/account/<%= user._id %>/edit">Edit your profile</a>
		</div>
		<div>
		<img  src="/static/images/noProfilePic" width="150px" height="150px">
		</div>
		<div id="userinfo" >
        <h4><%= user.firstName %></h4>
        <h6><%= user.lastName %></h6>
		<h6>Your Hours: <%= user.userHours %></h6>
		<h6>Email:<%= user.username %></h6>
		<h6>Hometown:<%= user.hometown %></h6>
		<h6>Zipcode:<%= user.zipcode %></h6>
		<h6>User's Bio:</h6>
		<div id="userbio1">
		<%= user.userbio %>
		</div>
        
		
		<br><br>
		<div class="listingBoxH" id="statement" >
<h5>Statement History:</h5>
<table id="userHistoryTable">
       <tr>
	<th>Date</th>
	<th>Action</th>
	<th>Change</th>
	<th>Updated Hours</th>
       </tr>
        <% userHrsHistory.forEach(function(entry){ %>
	   <tr>
	    <td><%= entry.date %></td>
	    <td><%= entry.action %></td>
	    <td><%= entry.change %></td>
	    <td><%= entry.newHours %></td>
	   </tr>
	<% }); %>
</table>
</div>
</div>
		</div>
        <a href="/home%>">Go Home</a>
    </div>

<% include partials/footer %>