<% include partials/header %>

    <div class="container">
    <div id="editOffer">
    	 <h1>Edit Offer</h1>

        <form action="/offers/<%= offer._id %>?_method=PUT" method="POST">
            <input type="text" name="offer[title]" value="<%= offer.title %>">
	    <br><br>
            <input type="text" name="offer[desc]" value="<%= offer.desc %>">
        <br><br>
            <input type="number" name="offer[hoursOffered]" value="<%= offer.hoursOffered %>">
        <br><br>
        <input type="text" name="offer[category]" value="<%= offer.category %>">
	    <br><br>
            <button>Update</button>
        </form>

    	<a href="/offers/<%= offer._id %>">Go Back</a>
    </div>
    </div>

    <script>
        $( "#offers" ).addClass( "selected" );
    </script>

<% include partials/footer %>