<% include partials/header %>

    <div class="container">
    	 <h1>Edit Offer</h1>

        <div class="newPostForm">
        <form action="/offers/<%= offer._id %>?_method=PUT" method="POST">
            <input type="text" name="offer[title]" value="<%= offer.title %>">
            <input type="text" name="offer[desc]" value="<%= offer.desc %>">
            <input type="number" name="offer[hoursOffered]" value="<%= offer.hoursOffered %>">
            <input type="text" name="offer[location]" value="<%= offer.location %>">
            <p>category:</p>
            <select name="offer[category]" value="<%= offer.category %>">
                <option value="categoryA">categoryA</option>
                <option value="categoryB">categoryB</option>
                <option value="categoryC">categoryC</option>
                <option value="categoryD">categoryD</option>
                <option value="categoryE">categoryE</option>
            </select>
            <br><br>
            <button>Submit</button>
        </form>
        </div>

    	<a href="/offers/<%= offer._id %>" class="btn btn-primary">Go Back</a>
    </div>

    <script>
        $( "#offers" ).addClass( "selected" );
    </script>

<% include partials/footer %>