<% include partials/header %>

<div class="container">
<div id="homepage">
<h1> Welcome to the FDP Time Exchange, <%= currentUser.username %>! </h1>
<div class="container">
    <h5>Your Hours: <%= user.userHours %></h5>
</div>
<!-- <div><a href="/requests">See all requests</a></div>
<div><a href="/offers">See all offers</a></div> -->

<div class="listingBoxV" id="acceptedAssignments" style="overflow-y: scroll; height:400px;">
    <h5>Browse Newest Offer Posts:</h5>
    <ul>
        <li>
                <% var i = 0; %>
                <% offers.forEach(function(offer){ %>
                        <div class="indivPost">
                            <p>
                                <span>
                                    <a href="/offers/<%= offer._id %>" class="btn btn-primary"><%= offer.title %></a>
                                </span>
                            </p>
                        </div>
                        <% i++; %>
                <% }); %>
                <% if (i == 0) { %>
                    <p>There are currently no offer postings</p>
                <% } %>            

        </li>
    </ul>
</div>

<div class="listingBoxV" id="pastAssignments" style="overflow-y: scroll; height:400px;">
<h5>Browse Newest Requests Posts:</h5>
    <ul>
            <li>
                    <% var i = 0; %>
                    <% requests.forEach(function(request){ %>
                            <div class="indivPost">
                                <p>
                                    <span>
                                        <a href="/requests/<%= request._id %>" class="btn btn-primary"><%= request.title %></a>
                                    </span>
                                </p>
                            </div>
                            <% i++; %>
                    <% }); %>
                    <% if (i == 0) { %>
                        <p>There are currently no request postings</p>
                    <% } %>            
    
            </li>
    </ul>
</div>
<br><br>
<div style="display: inline-block">
<a class="btn btn-success" style="background-color:rgb(18, 116, 37);" href="/offers/new">Post a New Offer</a>
<a class="btn btn-success" style="background-color:rgb(85, 180, 221);" href="/requests/new">Post a New Request</a>
</div>

</div>
</div>
<br><br><br><br>
<script>
    $( "#home" ).addClass( "selected" );
</script>

<% include partials/footer %>
