<% include partials/header %>
   <div id="messagesPage">
    <div id="chatId"><%= chatId %></div>
    <h4> Conversation with <%= chatWith %> </h4>
    <div id="chatbox">
    <div id="messageList">
    <% messages.forEach(function(message){ %>
       	<div class="indivMessage">
        <%= message.time %><br>
	<b><%= message.sentBy %>: </b><%= message.info %>
   	</div>
    <% }); %>
    </div>
    <div id="userTypingSection">
    <input type="text" id="message">
    <input type="submit" id="submitButton" value="Send">
    </div>
    </div>
    </div>
    <script src="/static/js/messagesClient.js"></script>
<% include partials/footer %>
