<% include partials/header %>
   <div id="messagesPage">
    <div id="chatId"><%= chatId %></div>
    <h4> Conversation with <%= chatWith %> </h4>
    <div id="chatbox">
    <div id="messageList">
    <% messages.forEach(function(message){ %>
       	<% if (message.sentBy === currentUser.firstName) { %>
       	   <div class="indivMessage" style="background-color: dodgerblue; color: white; margin-left: 25%">
	<% } else if (message.sentBy === "The Freecycle Distribution Project Admins") { %>
       	   <div class="indivMessage" style="background-color: #FFFF66; margin-left: 15%">
	<% } else { %>
	   <div class="indivMessage">
	<% } %>
	
        <%= message.time %><br>
	
	<% if (message.sentBy === currentUser.firstName) { %>
	   <b>You: </b>
	<% } else if (message.sentBy === "The Freecycle Distribution Project Admins") { %>
	   <br><b><u> Message from <%= message.sentBy %>: </u></b><br>
	<% } else { %>
	   <b><%= message.sentBy %>: </b>
	<% } %>
	
	<%= message.info %>
   	</div>
    <% }); %>
    </div>
    <div id="userTypingSection">
    <input type="text" id="message">
    <input type="submit" id="submitButton" value="Send">
    </div>
    </div>
    </div>
    <script src="/static/js/messagesClient.js"></script>

    <script>
        $( "#messages" ).addClass( "selected" );
    </script>
<% include partials/footer %>
