<% include partials/header %>
<style>
.ScrollStyleYou{
    width:100%;
    max-height: 400px;
    overflow-y: scroll;
}
.ScrollStyleOthers{
    width:100%;
    max-height: 700px;
    overflow-y: scroll;
}
</style>
    <div class="container">
        <h1>Offers</h1><a class="btn btn-success" style="background-color:#001B88" href="/offers/new">Make New Offer</a>
        <a href="/response" class="btn btn-success" style="background-color:rgb(18, 116, 37);">See responses you have submitted</a>
		
        <h3>Offers Posted By You:</h3>
        <div class="ScrollStyleYou">
        <div id="offer">
            <% var i = 0; %>
            <% offers.forEach(function(offer){ %>
                <% if((currentUser && offer.author.id.equals(currentUser._id))) { %>
		            <div class="indivPost" style="margin: 0 0 0px 0px;">
                        <p>
                            <span>
                                <a href="/offers/<%= offer._id %>" class="btn btn-primary"><%= offer.title %></a>
                                <a href="/offers/<%= offer._id %>" class="btn btn-primary">More Info</a>
                                <a href="/offers/<%= offer._id %>/response" class="btn btn-primary">See Responses (<%= offer.offerResponse.length %>)</a>
                            </span>
                        </p>
                    </div>
                    <% i++; %>
                <% } %>
            <% }); %>
            <% if (i == 0) { %>
                <p>You do not currently have any active offer postings</p>
            <% } %>
        </div>
        </div>

        <h3>Browse Offers Posted By Others:</h3>
		
		
		<div class="filterform" >
		<div class="searchStore" >
            <form action="/search/offers" id="searchForm" method="GET">
			<div class="stitle">
                <h5 style="font-weight:500;text-shadow: 0px 0px;color:white;">Search:</h5>
			</div>
                <input name="userId" type="hidden" value="<%= currentUser._id %>" >
                <input class="sinput" type="text" placeholder="Find Offers" name="searchContent" value="" required>
                <button class="sbutton" type="submit">Go </button>
            </form>
        </div>
        <form action="/sort/offers" method="GET">
            <input name="userId" type="hidden" value="<%= currentUser._id %>" >
            <div class="otitle">
                <h5 style="font-weight:500;text-shadow: 0px 0px;">Sort by category:</h5>
			</div>
			<div class="oselect">
			<select name="sortCategory" style="border:none">
                <option value="">Choose Category</option>
                <option value="categoryA">categoryA</option>
                <option value="categoryB">categoryB</option>
                <option value="categoryC">categoryC</option>
                <option value="categoryD">categoryD</option>
                <option value="categoryE">categoryE</option>
            </select>
			</div>
			<div class="obutton">
            <button class="obu">Apply</button>
			</div>
			<br><br>
        </form></div>
		
		
        <div class="ScrollStyleOthers" style="margin:0 0 0 0;">
            <div id="offer" style="margin:0 0 0 0;">
                <% offers.forEach(function(offer){ %>
                    <% if(!(currentUser && offer.author.id.equals(currentUser._id))) { %>
		    <div class="indivPost" style="column-count:3">
                    <span>
                        <h4 style="line-height:40px;"><%= offer.title %></h4>
                        
                       
                        <h6>Category: <%= offer.category %></h6>
                      
                        <p>Submitted by: <a href="/users/<%= offer.author.id %>" class="btn btn-primary"><%= offer.author.username %></a></p>
                    </span>
                    <p>
                        <a href="/offers/<%= offer._id %>" class="btn btn-primary">More Info</a>
                        <a href="/offers/<%= offer._id %>/response" class="btn btn-primary">Take on</a>
                        
                    </p>
            </div>
            <% } %>
            <% }); %>
        </div>
        </div>
    </div>

    <script>
        $( "#offers" ).addClass( "selected" );
    </script>

<% include partials/footer %>
