<% include partials/header %>

<div class="container" >

        <h1>Responses to your Offer:</h1>
        <div class="indivPost">
                <span>
                        <% var i = 0; %>
                        <% offerResponses.forEach(function(response){ %>
                            <% if((response && response.offerId.equals(offer._id))) { %>
                                <h4><%= response.message %></h4>
                                <h5>Response sent by:<%= response.responder.firstName %></h5>
                                <a href="/response/<%=response._id%>" class="btn btn-primary">More Info</a>
                                <% i++; %>
                            <% } %>
                        <% }); %>
                        <% if (i == 0) { %>
                            <p>You do not currently have any responses</p>
                        <% } %>
                </span>
        </div>

		<div class="newPostForm">
        <h3><%= offer.title %></h3><br><br>
		
        <label style="font-size:30px;font-family: Arial, sans-serif;"><%= offer.desc %></label><br><br>
		
        <label style="   font-family: 'Open Sans', sans-serif">Total&nbsp</label><label style="font-size:30px;font-family: Arial, sans-serif;"><%= offer.hoursOffered %></label><label style="font-family: 'Open Sans', sans-serif">&nbsphour(s)</label><br><br>
        <a class="btn btn-secondary" href="/offers/<%= offer._id %>/edit">Edit Offer</a>
        <form action="/offers/<%= offer._id %>?_method=DELETE" method="POST">
            <button class="btn btn-danger">Delete Offer</button>
        </form>
	
		<div style="float:right"><h5>Date posted: <%= offer.postDate.toDateString() %></h5></div><br><br>
       <div style="float:right;"> <h5>Submitted by: <a href="/users/<%= offer.author.id %>"><%= offer.author.username %></a></h5></div>
		</div>
        	<a href="/offers " class="btn btn-primary">Go Back</a>
</div>

<script>
    $( "#offers" ).addClass( "selected" );
</script>

<% include partials/footer %>
