<% include partials/header %>

    <div class="container">
        <h1>Offers page</h1>
            <div id="offer">
                <% offers.forEach(function(offer){ %>
		   <div class="indivPost">
                    <span>
                        <h4><%= offer.title %></h4>
<<<<<<< HEAD
                        <p><%= offer.desc %></p>
                        <p>Submitted by: <a href="/users/<%= offer.author.id %>"><%= offer.author.username %></a></p>
=======
                        <h6><%= offer.desc %></h6>
>>>>>>> 2055419585befe42277ecac2bbb6c9af2c0180f8
                    </span>
                    <p>
                        <a href="/offers/<%= offer._id %>" class="btn btn-primary">More Info</a>
                    </p>
		    </div>
                <% }); %>
            </div>
        <a class="btn btn-primary" href="/offers/new">Make New Offer</a>
    </div>

<% include partials/footer %>