<% include partials/header %>

<div class="container" style="font-size:25px">

        <h1>Responses to your Offer:</h1>
        <div class="indivPost">
                <span>
                        <% var i = 0; %>
                        <% offerResponses.forEach(function(response){ %>
                            <% if((response && response.offerId.equals(offer._id))) { %>
                                <h4><%= response.message %></h4>
                                <h5>Response sent by:<%= response.responder.firstName %></h5>
                                <a href="/response/<%= response._id %>" class="btn btn-primary">More Info</a>
                                <% i++; %>
                            <% } %>
                        <% }); %>
                        <% if (i == 0) { %>
                            <p>You do not currently have any responses</p>
                        <% } %>
                </span>
        </div>

        <h4>Offer Details</h4>
        <h4><%= offer.title %></h4>
        <h6><%= offer.desc %></h6>
        <h6>Hours offered: <%= offer.hoursOffered %></h6>
        <h6>Category: <%= offer.category %></h6>
        <h6>Date posted: <%= offer.postDate.toDateString() %></h6>
        <a class="btn btn-secondary" href="/offers/<%= offer._id %>/edit">Edit Offer</a>
        <form action="/offers/<%= offer._id %>?_method=DELETE" method="POST">
            <button class="btn btn-danger">Delete Offer</button>
        </form>
</div>

<script>
    $( "#offers" ).addClass( "selected" );
</script>

<% include partials/footer %>
