<% include partials/header %>

<div class="container" style="font-size:25px">
        <h1>Respond to <%= offer.author.username %>'s Offer</h1>
        <p>Offer details:<p>
        <h5>Title: <%= offer.title %></h5>
        <h5>Description: <%= offer.desc %></h5>
        <h5>Hours offered: <%= offer.hoursOffered %></h5>
        <h5>Date needed by: <%= offer.postDate %></h5>
        <form action="/offers/<%= offer._id %>/response" method="POST" >
            <p>Respond to <%= offer.author.username %>'s offer:</p>
            <textarea name="message" rows="10"  style="width:100%"></textarea>
            <!-- <p>Choose Time<p>
            <input type="checkbox" name="checkbox" value="Wed"><label>Wed</label>
            <input type="checkbox" name="checkbox" value="Sun"><label>Sun</label>
            <input type="checkbox" name="checkbox" value="Mon"><label>Mon</label><br><br> -->
            <button class="btn btn-primary">Send Response</button> 
        </form>
</div>

<script>
    $( "#offers" ).addClass( "selected" );
</script>

<% include partials/footer %>
