<% include partials/header %>

    <div class="container">
        <h1>Offers</h1>
        <h3>Offers Posted By You:</h3>
        <div id="offer">
            <% var i = 0; %>
            <% offers.forEach(function(offer){ %>
                <% if((currentUser && offer.author.id.equals(currentUser._id))) { %>
		            <div class="indivPost">
                        <p>
                            <a href="/offers/<%= offer._id %>" ><%= offer.title %></a>                       
                        </p>
                    </div>
                    <% i++; %>
                <% } %>
            <% }); %>
            <% if (i == 0) { %>
                <p>You do not currently have any active Offer posting</p>
            <% } %>
        </div>

        <h3>Browse Offers Posted By Others:</h3>
        <form action="/offers/sort" method="GET">

            <h5>Filter:</h5>

           

            <select name="category">
                <option value="">Choose Category</option>
                <option value="categoryA">categoryA</option>
                <option value="categoryB">categoryB</option>
                <option value="categoryC">categoryC</option>
                <option value="categoryD">categoryD</option>
                <option value="categoryE">categoryE</option>
            </select>
            <button class="btn btn-primary">Apply</button>
			<br><br>
        </form>
        <a class="btn btn-primary" href="/offers/new">Make New Offer</a>
            <div id="offer">
                <% offers.forEach(function(offer){ %>
                    <% if(!(currentUser && offer.author.id.equals(currentUser._id))) { %>
		   <div class="indivPost">
                    <span>
                        <h4><%= offer.title %></h4>
                        <p><%= offer.desc %></p>
                        <h6>Hours offered: <%= offer.hoursOffered %></h6>
                        <h6>Category: <%= offer.category %></h6>
                        <h6>Date posted: <%= offer.postDate.toDateString() %></h6>
                        <p>Submitted by: <a href="/users/<%= offer.author.id %>"><%= offer.author.username %></a></p>
                    </span>
                    <p>
                        <a href="/offers/<%= offer._id %>" class="btn btn-primary">More Info</a>
                        <a href="/offers/<%= offer._id %>/response" class="btn btn-primary">Take on</a>
                        
                    </p>
            </div>
            <% } %>
            <% }); %>
        </div>
        </div>

    <script>
        $( "#offers" ).addClass( "selected" );
    </script>

<% include partials/footer %>
