<% include partials/header %>

    <div class="container">
        <h1>Offers</h1><a class="btn btn-primary" style="background-color:#55DD71;" href="/offers/new">Make New Offer</a>
        <a href="/response" class="btn btn-primary">See responses you have submitted</a>
		
        <h3>Offers Posted By You:</h3>
        <div id="offer">
            <% var i = 0; %>
            <% offers.forEach(function(offer){ %>
                <% if((currentUser && offer.author.id.equals(currentUser._id))) { %>
		            <div class="indivPost">
                        <p>
                            <span>
                                <a href="/offers/<%= offer._id %>" class="btn btn-primary"><%= offer.title %></a>
                                <a href="/offers/<%= offer._id %>" class="btn btn-primary">More Info</a>
                                <a href="/offers/<%= offer._id %>/response" class="btn btn-primary">See Responses (<%= offer.offerResponse.length %>)</a>
                            </span>
                        </p>
                    </div>
                    <% i++; %>
                <% } %>
            <% }); %>
            <% if (i == 0) { %>
                <p>You do not currently have any active offer postings</p>
            <% } %>
        </div>

        <h3>Browse Offers Posted By Others:</h3>
        <form action="/offers/sort" method="GET">

            <div style="margin: 0px auto -50px auto;
    border-radius: 10px;
    border: solid white;
    padding: 0px;height:30px;width:100%;">
			<div id="otitle" style="display:block;float:left;text-align:center;width:30%;">
            <h5 style="font-weight:500;text-shadow: 0px 0px;">Filter:</h5>
			</div>
			<div id="oselect" style="display:block;float:left;width:30%;text-align:center;margin:-2px 0px 0px 0px">
			<select name="category">
                <option value="">Choose Category</option>
                <option value="categoryA">categoryA</option>
                <option value="categoryB">categoryB</option>
                <option value="categoryC">categoryC</option>
                <option value="categoryD">categoryD</option>
                <option value="categoryE">categoryE</option>
            </select>
			</div>
			<div id="obutton" style="display:block;float:left;width:30%;text-align:center;color:blue;">
            <button class="btn btn-primary" style="height:30px;font-size:17px;color:blue;background-color:white;font-weight:bold;border:none;margin:-3px 0px 0px 0px;text-align:center;">Apply</button>
			</div></div>
			<br><br>
        </form>
        
            <div id="offer">
                <% offers.forEach(function(offer){ %>
                    <% if(!(currentUser && offer.author.id.equals(currentUser._id))) { %>
		   <div class="indivPost">
                    <span>
                        <h4><%= offer.title %></h4>
                        <p><%= offer.desc %></p>
                        <h6>Hours offered: <%= offer.hoursOffered %></h6>
                        <h6>Category: <%= offer.category %></h6>
                        <h6>Date posted: <%= offer.postDate.toDateString() %></h6>
                        <p>Submitted by: <a href="/users/<%= offer.author.id %>"><%= offer.author.username %></a></p>
                    </span>
                    <p>
                        <a href="/offers/<%= offer._id %>" class="btn btn-primary">More Info</a>
                        <a href="/offers/<%= offer._id %>/response" class="btn btn-primary">Take on</a>
                        
                    </p>
            </div>
            <% } %>
            <% }); %>
        </div>
        </div>

    <script>
        $( "#offers" ).addClass( "selected" );
    </script>

<% include partials/footer %>
