<% include partials/header %>

<div class="container" >

        <h1>Responses to your Request:</h1>
        <div class="indivPost">
                <span>
                        <% var i = 0; %>
                        <% requestResponses.forEach(function(response){ %>
                            <% if((response && response.requestId.equals(request._id))) { %>
                                <h4><%= response.message %></h4>
                                <a href="/users/<%= response.responder %>" class="btn btn-primary">Responder's Profile</a>
                                <a href="/requests/response/<%=response._id%>" class="btn btn-primary">More Info</a>
                                <% i++; %>
                            <% } %>
                        <% }); %>
                        <% if (i == 0) { %>
                            <p>You do not currently have any responses</p>
                        <% } %>
                </span>
        </div>

		<div class="newPostForm">
        <h3><%= request.title %></h3><br><br>
		
        <label style="font-size:30px;font-family: Arial, sans-serif;"><%= request.desc %></label><br><br>
		
        <label style="   font-family: 'Open Sans', sans-serif">Total&nbsp</label><label style="font-size:30px;font-family: Arial, sans-serif;"><%= request.hoursOffered %></label><label style="font-family: 'Open Sans', sans-serif">&nbsphour(s)</label><br><br>
        <a class="btn btn-secondary" href="/offers/<%= request._id %>/edit">Edit Request</a>
        <form action="/offers/<%= request._id %>?_method=DELETE" method="POST">
            <button class="btn btn-danger">Delete Request</button>
        </form>
	
		<div style="float:right"><h5>Date posted: <%= request.postDate.toDateString() %></h5></div><br><br>
       <div style="float:right;"> <h5>Submitted by: <a href="/users/<%= request.author.id %>"><%= request.author.username %></a></h5></div>
		</div>
        	<a href="/requests " class="btn btn-primary">Go Back</a>
</div>
		
		
		
        

<script>
    $( "#requests" ).addClass( "selected" );
</script>

<% include partials/footer %>
