<% include partials/header %>
    <div class="container">
        <h1>Requests <%= type %> result for:  <%= searchContent %>  <%= sortCategory %></h1>
        
        <div class="searchRequests">
            <form action="/search/requests" id="searchForm" method="GET">
                <input name="userId" type="hidden" value="<%= currentUser._id %>" >
                <input type="text" placeholder="Find Items" name="searchContent" value="" required>
                <button class="btn btn-primary" type="submit">Search </button>
            </form>
        </div>
        
        <form action="/sortonsearch/requests" method="GET">
            <input name="searchContent" type="hidden" value="<%= searchContent %>">
            <input name="userId" type="hidden" value="<%= currentUser._id %>" >
            <h5>filter:</h5>
            <select name="sortCategory">
                <option value="">Choose Category</option>
                <option value="categoryA">categoryA</option>
                <option value="categoryB">categoryB</option>
                <option value="categoryC">categoryC</option>
                <option value="categoryD">categoryD</option>
                <option value="categoryE">categoryE</option>
            </select>
            <button class="btn btn-primary">Apply</button>
        </form>

        <h1>Requests</h1><a class="btn btn-primary" style="background-color:#55DD71;" href="/requests/new">Make New Request</a>
        <div id="request">
                <% if (requests=="") { %>
                    <h2>No result!</h2>
                <% } %>
            <% requests.forEach(function(request){ %>
                  <div class="indivPost">
                    <span>
                        <h4><%= request.title %></h4>
                        <p><%= request.desc %></p>
                        <h6>Hours offered: <%= request.hoursOffered %></h6>
                        <h6>Category: <%= request.category %></h6>
                        <h6>Date posted: <%= request.postDate.toDateString() %></h6>
                        <p>Submitted by: <a href="/users/<%= request.author.id %>"><%= request.author.username %></a></p>
                    </span>
                    <p>
                        <a href="/requests/<%= request._id %>" class="btn btn-primary">More Info</a>
                        <a href="/requests/<%= request._id %>/response" class="btn btn-primary">Take on</a>
                    </p>
                  </div>
            <% }); %>
        </div>
        <% if (requests!="") { %>
            <div class="pagination">
                <%  for (i = 1; i <= pages; i++) { %>
                    <a href="/sortonsearch/requests?searchContent=<%= searchContent %>&sortCategory=<%= sortCategory %>&userId=<%= currentUser._id %>&pageChoose=<%= i %>"><%= i %></a>
                <%  } %>
            </div>
        <% } %>
    </div>

    <script>
        $( "#requests" ).addClass( "selected" );
    </script>

<% include partials/footer %>
