<% include partials/header %>
<style>
.ScrollStyleYou{
    width:100%;
    max-height: 400px;
    overflow-y: scroll;
}
.ScrollStyleOthers{
    width:100%;
    max-height: 700px;
    overflow-y: scroll;
}
</style>
    <div class="container">
        <h1>Requests</h1><a class="btn btn-success"  style="background-color:#001B88" href="/requests/new">Post New Request</a>
        <a href="/requestsResponse" class="btn btn-success" style="background-color:rgb(18, 116, 37);">Requests You Responded To</a>
		<div class="listingBoxHx">
        <h3 style="margin-top: 5px">Your Active Request Posts:</h3>
        <div class="ScrollStyleYou">
        <div id="request">
            <% var i = 0; %>
            <% requests.forEach(function(request){ %>
                <% if((currentUser && request.author.id.equals(currentUser._id))) { %>
		            <div class="indivPost1" style="margin: 0 0 0px 0px;">
                        <p>
                            <span>
                                <a href="/requests/<%= request._id %>" class="btn btn-primary"><%= request.title.substring(0,79) %></a>
                                <a href="/requests/<%= request._id %>" class="btn btn-primary">More Info</a>
                                <a href="/requests/<%= request._id %>/response" class="btn btn-primary">See Responses (<%= request.requestResponse.length %>)</a>
                            </span>
                        </p>
                    </div>
                    <% i++; %>
                <% } %>
            <% }); %>
            <% if (i == 0) { %>
                <p style="font-style: italic">You do not currently have any active request postings</p>
            <% } %>
        </div>
        </div>
    </div>

        <h3 style="margin-top: 20px">Browse Requests Posted By Others:</h3>
		<div class="filterform">
		<div class="searchStore">
		
            <form action="/search/requests" id="searchForm" method="GET">
			<div class="stitle">
                <h5 id="searchbartext" style="font-weight:500;text-shadow: 0px 0px;color:white;">Search:</h5>
			</div>
                <input name="userId" type="hidden" value="<%= currentUser._id %>" >
                <input class="sinput" type="text" placeholder="Find Requests" name="searchContent" value="" required>
                <button id="sbutton" class="btn btn-dark" type="submit">Go </button>
            </form>
        </div>
        <form action="/sort/requests" method="GET">
            <input name="userId" type="hidden" value="<%= currentUser._id %>" >
			<div class="otitle">
                <h5 id="selecttext" style="font-weight:500;text-shadow: 0px 0px;">Sort by category:</h5>
			</div>
			<div class="oselect">
			<select name="sortCategory" style="border:none">
                <option value="">Choose Category</option>
                <option value="Child Care">Child Care</option>
                <option value="Arts and Crafts">Arts and Crafts</option>
                <option value="Education">Education</option>
                <option value="Garden and Yardwork">Garden and Yardwork</option>
                <option value="Home Repair">Home Repair</option>
                <option value="Housework">Housework</option>
                <option value="Moving/Relocating">Moving/Relocating</option>
                <option value="Pet Care">Pet Care</option>
                <option value="Translation">Translation</option>
                <option value="Transportation">Transportation</option>
                <option value="Other">Other</option>
            </select>
			</div>
			<div class="obutton">
            <button id="obu" class="btn btn-dark">Apply</button>
			</div>
			<br><br>
        </form></div>
        <div class="ScrollStyleOthers">
            <div id="request">
                <% requests.forEach(function(request){ %>
                    <% if(!(currentUser && request.author.id.equals(currentUser._id))) { %>
		    <div class="indivPost1" style="column-count:3">
                    <span>
					
					<h4 style="line-height:40px;"><%= request.title %></h4>
                        
                       
                        <h6>Category: <%= request.category %></h6>
                      
                        <p>Submitted by: <a href="/users/<%= request.author.id %>" class="btn btn-primary"><%= request.author.username %></a></p>
					</span>
                    <p>
                        <a href="/requests/<%= request._id %>" class="btn btn-primary">More Info</a>
                        <a href="/requests/<%= request._id %>/response" class="btn btn-primary">Take on</a>
                        
                    </p>
            </div>
            <% } %>
            <% }); %>
        </div>
        </div>
    </div>

    <script>
        $( "#requests" ).addClass( "selected" );
    </script>

<% include partials/footer %>
