<% include partials/header %>

    <div class="container">
        <h1>Item Details</h1>
		<div class="newPostForm">
		
		<h3><%= item.title %></h3><br><br>
		
        <label style="font-size:30px;font-family: Arial, sans-serif;"><%= item.desc %></label><br><br>
		
        <label style="   font-family: 'Open Sans', sans-serif">Total&nbsp</label><label style="font-size:30px;font-family: Arial, sans-serif;"><%= item.hourPrice %></label><label style="font-family: 'Open Sans', sans-serif">&nbsphour(s)</label><br><br>
        
		
        
        <% if(currentUser && item.author.id.equals(currentUser._id)) { %>
            <a class="btn btn-secondary" href="/store/<%= item._id %>/edit">Edit Item</a>
            <form action="/store/<%= item._id %>?_method=DELETE" method="POST">
                <button class="btn btn-danger">Delete item</button>
            </form>
        <% } %>
        <% if(!(currentUser && item.author.id.equals(currentUser._id))) { %>
            <form action="/store/buy" method="POST">
                <input name="itemPrice" type="hidden" value="<%= item.hourPrice %>" >
                <input name="buyerId" type="hidden" value="<%= currentUser._id %>" >
                <input name="itemId" type="hidden" value="<%= item._id %>" >
                <input name="sellerId" type="hidden" value="<%= item.author.id %>" >
                <button type="submit" class="btn btn-primary">Buy</button>
            </form>
        <% } %><br><br>
		<div style="float:right"><h5>Date posted: <%= item.postDate.toDateString() %></h5></div><br><br>
       <div style="float:right;"> <h5>Submitted by: <a href="/users/<%= item.author.id %>"><%= item.author.username %></a></h5></div>
		</div>
		<br><br>
        <a href="/store%>" class="btn btn-primary">Go Back</a>
    </div>

    <script>
        $( "#store" ).addClass( "selected" );
    </script>

<% include partials/footer %>