<% include partials/header %>

    <div class="container">
        <h1>Item Details</h1>

        <h4><%= item.title %></h4>
        <h6><%= item.desc %></h6>
        <h6>Hours price: <%= item.hourPrice %></h6>
        <h6>Category: <%= item.category %></h6>
        <h6>Date posted: <%= item.postDate.toDateString() %></h6>
        <p>Submitted by: <a href="/users/<%= item.author.id %>"><%= item.author.username %></a></p>
        <% if(currentUser && item.author.id.equals(currentUser._id)) { %>
            <a class="btn btn-secondary" href="/store/<%= item._id %>/edit">Edit Item</a>
            <form action="/store/<%= item._id %>?_method=DELETE" method="POST">
                <button class="btn btn-danger">Delete item</button>
            </form>
        <% } %>
        <% if(!(currentUser && item.author.id.equals(currentUser._id))) { %>
            <form action="/store/buy" method="POST">
                <input name="itemPrice" type="hidden" value="<%= item.hourPrice %>" >
                <input name="buyerId" type="hidden" value="<%= currentUser._id %>" >
                <input name="itemId" type="hidden" value="<%= item._id %>" >
                <input name="sellerId" type="hidden" value="<%= item.author.id %>" >
                <button type="submit" class="btn btn-primary">Buy</button>
            </form>
        <% } %>

        <a href="/store%>">Go Back</a>
    </div>

    <script>
        $( "#store" ).addClass( "selected" );
    </script>

<% include partials/footer %>