<% include partials/header %>

    <div class="container">
        <h1>Request Details</h1>
		<div class="newPostForm">
		
        <h3><%= request.title %></h3><br><br>
		
		<label style="font-size:30px;font-family: Arial, sans-serif;"><%= request.desc %></label><br><br>
		<label style="font-size:30px;font-family: Arial, sans-serif;"><%= request.location %></label><br><br>
        <label style="   font-family: 'Open Sans', sans-serif">Total&nbsp</label><label style="font-size:30px;font-family: Arial, sans-serif;"><%= request.hoursOffered %></label><label style="font-family: 'Open Sans', sans-serif">&nbsphour(s)</label><br><br>
        
        
       <% if(currentUser && request.author.id.equals(currentUser._id)) { %>
            <a class="btn btn-secondary" href="/requests/<%= request._id %>/edit">Edit Request</a>
            <form action="/requests/<%= request._id %>?_method=DELETE" method="POST">
                <button class="btn btn-danger">Delete Request</button>
            </form>
        <% } %>
        <% if(!(currentUser && request.author.id.equals(currentUser._id))) { %>
            <a href="/requests/<%= request._id %>/response" class="btn btn-primary">Take on</a>
        <% } %><br><br>
		<div style="float:right; margin-right:15px"><h5>Date posted: <%= request.postDate.toDateString() %></h5></div><br><br>
       <div style="float:right; margin-right:15px"> <h5>Submitted by: <a href="/users/<%= request.author.id %>"><%= request.author.username %></a></h5></div>
		</div>
		<br><br>
        <a href="/requests%>" class="btn btn-primary">Go Back</a>
    </div>

    <script>
        $( "#requests" ).addClass( "selected" );
    </script>

<% include partials/footer %>
