<% include partials/header %>

    <div class="container">
        <h1>Offer Details</h1>
<div class="newPostForm">


        <h3><%= offer.title %></h3><br><br>
		
        <label style="font-size:30px;font-family: Arial, sans-serif;"><%= offer.desc %></label><br><br>
		<label style="font-size:30px;font-family: Arial, sans-serif;"><%= offer.location %></label><br><br>
        <label style="   font-family: 'Open Sans', sans-serif">Total&nbsp</label><label style="font-size:30px;font-family: Arial, sans-serif;"><%= offer.hoursOffered %></label><label style="font-family: 'Open Sans', sans-serif">&nbsphour(s)</label><br><br>
        
        

        <% if(currentUser && offer.author.id.equals(currentUser._id) || currentUser.isAdmin) { %>

            <a class="btn btn-secondary" href="/offers/<%= offer._id %>/edit">Edit Offer</a>
            <% if(currentUser && offer.author.id.equals(currentUser._id) || currentUser.isAdmin) { %>
            <form action="/offers/<%= offer._id %>?_method=DELETE" method="POST">
                <button class="btn btn-danger">Delete Offer</button>
            </form>
            <% } %>
        <% } %>
        <% if(!(currentUser && offer.author.id.equals(currentUser._id) || currentUser.isAdmin)) { %>
            <a href="/offers/<%= offer._id %>/response" class="btn btn-primary">Take on</a>
        <% } %><br><br>
		<div style="float:right; margin-right: 15px"><h5>Date posted: <%= offer.postDate.toDateString() %></h5></div><br><br>
       <div style="float:right; margin-right: 15px"> <h5>Submitted by: <a href="/users/<%= offer.author.id %>"><%= offer.author.username %></a></h5></div>
		</div>
       
		<br><br>
        <a href="/offers%>" class="btn btn-primary">Go Back</a>
    </div>

    <script>
        $( "#offers" ).addClass( "selected" );
    </script>

<% include partials/footer %>
