<% include partials/header %>

    <div class="container">
        <h1>Store <%= type %> result for:  <%= searchContent %>  <%= sortCategory %></h1>
        <div class="searchStore">
            <form action="/search/stores" id="searchForm" method="GET">
                <input name="userId" type="hidden" value="<%= currentUser._id %>" >
                <input type="text" placeholder="Find Items" name="searchContent" value="" required>
                <button class="btn btn-primary" type="submit">Search </button>
            </form>
        </div>

        <div class="sortStore">
            <form action="/sortonsearch/stores" method="GET">
                <div style="margin: 0px auto -50px auto;
                    border-radius: 10px;
                    border: solid white;
                    padding: 0px;height:30px;width:100%;">
                <div id="otitle" style="display:block;float:left;text-align:center;width:30%;">
                    <h5 style="font-weight:500;text-shadow: 0px 0px;">Filter:</h5>
                </div>
                <div id="oselect" style="display:block;float:left;width:30%;text-align:center;margin:-2px 0px 0px 0px">
                <input name="userId" type="hidden" value="<%= currentUser._id %>" >
                <input name="searchContent" type="hidden" value="<%= searchContent %>" >
                <select name="sortCategory">
                    <option value="">Choose Category</option>
                    <option value="categoryA">categoryA</option>
                    <option value="categoryB">categoryB</option>
                    <option value="categoryC">categoryC</option>
                    <option value="categoryD">categoryD</option>
                    <option value="categoryE">categoryE</option>
                </select>
                </div>
                <div id="obutton" style="display:block;float:left;width:30%;text-align:center;color:blue;">
                <button class="btn btn-primary" style="height:30px;font-size:17px;color:blue;background-color:white;font-weight:bold;border:none;margin:-3px 0px 0px 0px;text-align:center;">Apply</button>
                </div></div>
                <br><br>
            </form>
        </div>

        <a class="btn btn-primary" href="/store/new">Post a New Item</a>
            <div id="item">
                <% if (items=="") { %>
                    <h2>No result!</h2>
                <% } %>
                <% items.forEach(function(item){ %>
		   <div class="indivPost" style="column-count:3;max-height:200px;">
                    <img  src="https://s3.amazonaws.com/freecycle-distribution-project-storeimg/<%= item.imgname %>" width="150px" height="150px">
					<span>
                        <h4><%= item.title %></h4>
                        <p><%= item.desc %></p>
                        <h6>Hour Price: <%= item.hourPrice %></h6>
                        <h6>Category: <%= item.category %></h6>
                        <h6>Item Condition: <%= item.condition %></h6>
                        <h6>Date posted: <%= item.postDate.toDateString() %></h6>
						<br><br>
                        <p>Submitted by: <a href="/users/<%= item.author.id %>"><%= item.author.username %></a></p>
                    </span>
                    <p>
                        <a href="/store/<%= item._id %>" class="btn btn-primary">More Info</a>
                        <a href="/store/<%= item._id %>" class="btn btn-primary">Buy</a>
                    </p>
		    </div>
                <% }); %>
            </div>
            <% if (items!="") { %>
                <div class="pagination">
                <%  for (i = 1; i <= pages; i++) { %>
                    <a href="/sortonsearch/stores?searchContent=<%= searchContent %>&sortCategory=<%= sortCategory %>&userId=<%= currentUser._id %>&pageChoose=<%= i %>"><%= i %></a>
                <%  } %>
            </div>
            <% } %>
    </div>

    <script>
        $( "#store" ).addClass( "selected" );
    </script>

<% include partials/footer %>