<% include partials/header %>

    <div class="container">

        <h1>Members</h1>
        <% if(currentUser.isAdmin || currentUser.isSAdmin) { %>
        <h3>Current Admins:</h3>
        <div class="ScrollStyleYou" >
        <div id="offer">
            <% var i = 0; %>
            <% users.forEach(function(user){ %>
                <% if(user.isSAdmin) { %>
		            <div class="indivPost">
                        <p>
                            <span>
                                <a href="/users/<%= user._id %>" class="btn btn-primary"><%= user.username %></a>
                                <a href="" class="btn btn-primary">Admin</a>
                            </span>
                        </p>
                    </div>
                    <% i++; %>
                <% } %>
            <% }); %>
            <% if (i == 0) { %>
                <p>There are currently no Admins</p>
            <% } %>
        </div>
        </div>
     <% } %>

        <h3>Browse All Users:</h3>
        <div class="searchUser">
            <form action="/search/users" id="searchForm" method="GET">
                <input type="text" placeholder="Find Users" name="searchContent" value="" required>
                <button class="btn btn-primary" type="submit">Search </button>
            </form>
        </div>
            <div style="width:100%;
    max-height: 700px;
    overflow-y: scroll;">
                <% users.forEach(function(user){ %>
		            <div class="indivPost">	
                    <span>
                        <h4>Name: <%= user.firstName %></h4>
                        <h4>Username: <%= user.username %></h4>
                    </span>
                    <p>
                        <a href="/users/<%= user._id %>" class="btn btn-primary">More Info</a>
			<form action="/messages" method="POST">
   			<input type="text" id="toUser" name="message[toUser]" placeholder="Member's username" style="display:none" value="<%=user.username%>">
                        <input type="submit" id="submitButton" class="btn btn-primary" value="Message">
			</form>
                    </p>
		            </div>	
                <% }); %>
            </div>
    </div>

    <script>
        $( "#members" ).addClass( "selected" );
    </script>

<% include partials/footer %>